<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="defaultScriptingLanguage" value="springboard.mybatis.AutoXMLLanguageDriver"/>
    </settings>
    <typeHandlers>
        <typeHandler javaType="com.baomidou.mybatisplus.core.enums.IEnum" handler="com.baomidou.mybatisplus.extension.handlers.EnumTypeHandler"/>
    </typeHandlers>
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"/>
    </plugins>
</configuration>